.content-cont {
    border: 1px solid white;
    width: 51%;
    height: 100vh;
    align-self: flex-start;

    background: rgb(20 20 20 / 22%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    background-image: url('../../../public/3.jpg');
    height: 40%;
    width: 90%;
    background-size: 100%;
    margin-bottom: 2em;

}

.title a {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin: 20px;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
    width: 90%;
}

.grid-container>div {
    text-align: end;
    padding: 40px;
}

.item1 {
    background-image: url('../../../public/about.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
}

.item2 {
    background-image: url('../../../public/work.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
}

.item3 {
    background-image: url('../../../public/skills.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
}

.item4 {
    background-image: url('../../../public/contact.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 10px;
}


.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
    background: rgb(20 20 20 / 22%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    background-image: url('../../../public/touch.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: -2%;
}

@media screen and (max-width:1000px) {}